.navbar{
    background-color: #298a08;
}

.quemsomos{
    background-color:   #8181f7;
    color: white;
}
.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}
.parceiros{
    background-color: #F5A9F2;
}

.bg-footer{
    background-color: black;
    color: white;
}